<!DOCTYPE html>
<html>
<head>
    <title>Wiadomości z bazy danych</title>
</head>
<body>
    <h1>Wiadomości</h1>
    
    <!-- Wyświetlanie nagłówków kolumn -->
    <table border="1">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.source }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.sender }}</td>
                    <td>{{ message.recipients }}</td>
                    <td>{{ message.content }}</td>
                    <td>{{ message.footer }}</td>
                    <td>{{ message.original_content }}</td>
                    <td>{{ message.timestamp }}</td>
                    <td>{{ message.attachments_path }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if db_path %}
        <p>Ścieżka do bazy danych: {{ db_path }}</p>
    {% else %}
        <p>Brak informacji o ścieżce do bazy danych!</p>
    {% endif %}
</body>
</html>
